<a href="https://colab.research.google.com/github/Niyati223/Niyati223/blob/main/exercise2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a program to take three names as input from a user in the single input() function call.

In [1]:
a,b,c=input('enter the three names:').split()
print('enter your firstname:',a)
print('enter your middle name :',b)
print('enter your last name:',c)

enter the three names:niyati vinay galagali
enter your firstname: niyati
enter your middle name : vinay
enter your last name: galagali

2. Write a program to print the following number pattern using a loop.

In [2]:
rows=int(input('enter the number of rows:'))
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end=' ')
  print(' ')

enter the number of rows:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

3. Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

In [3]:
n=int(input('enter the number:'))
sum=0
for num in range(1,n+1,1):
  sum=sum+num
print('sum of numbers is :' , sum)

enter the number:5
sum of numbers is : 15

4. Print list in reverse order using a loop

In [4]:
original_list=[1,2,3,4,5,6,7,8,9,10]
reversed_list=list()
for v in original_list:
  reversed_list=[v] + reversed_list
print(reversed_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

5. Write a program to display all prime numbers within a range

In [5]:
min = int(input("Enter the min : "))
max = int(input("Enter the max : "))
for n in range(min,max + 1):
   if n > 1:
       for i in range(2,n):
           if (n % i) == 0:
               break
       else:
           print(n)

Enter the min : 1
Enter the max : 10
2
3
5
7

6. Find the factorial of a given number without using math module

In [29]:
n=5
fact=1
i=1
while i <=n:
  fact=fact * i
  i=i+1
print('factorial of {0} is {1}'.format(n,fact))

factorial of 5 is 120

7. Print the following pattern

In [10]:
rows=int(input('enter the rows:'))
for i in range(0,rows):
  for j in range(0,i+1):
    print('*',end=' ')
  print('')
#second pattern
for i in range(rows+1,0,-1):
  for j in range(0,i-1):
    print('*',end=' ')
  print(' ')

enter the rows:4
*
* *
* * *
* * * *
* * * *
* * *
* *
*