<a href="https://colab.research.google.com/github/Niyati223/Niyati223/blob/main/exercise1_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [1]:
print('printing the sum of current and previous number in the range(10)')
prev_num=0
for i in range(0,10):
  a_sum=prev_num+i
  print('current_num',i,'prev_num',prev_num,'sum:', prev_num+i)
  prev_num=i

printing the sum of current and previous number in the range(10)
current_num 0 prev_num 0 sum: 0
current_num 1 prev_num 0 sum: 1
current_num 2 prev_num 1 sum: 3
current_num 3 prev_num 2 sum: 5
current_num 4 prev_num 3 sum: 7
current_num 5 prev_num 4 sum: 9
current_num 6 prev_num 5 sum: 11
current_num 7 prev_num 6 sum: 13
current_num 8 prev_num 7 sum: 15
current_num 9 prev_num 8 sum: 17

2. Write a program to accept a string from the user and display characters that are present at an even index number.

In [3]:
word = 'niyatig'
print("Original String:", word)
x = list(word)
for i in x[0::2]:
    print(i)

Original String: niyatig
n
y
t
g

3. Iterate the given list of numbers and print only those numbers which are divisible by 5

In [4]:
num=[10,20,46,55,33]
print('givenlist:',num)
print('divisible by 5:')
for i in num:
  if i%5==0:
    print(i)

givenlist: [10, 20, 46, 55, 33]
divisible by 5:
10
20
55

4. Write a program to check if the given number is a palindrome number.

In [5]:
num=545
temp=num
rev=0
while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(temp==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

The number is palindrome!

5. Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [6]:
list1=[11,22,34,57,44]
listOdd= []
listEven= []
for num in list1:
  if num%2==0:
    listEven.append(num)
  else:
    listOdd.append(num)
print('list1 :', list1)
print('listEven :',listEven)
print('listOdd :',listOdd)

list1 : [11, 22, 34, 57, 44]
listEven : [22, 34, 44]
listOdd : [11, 57]

6. Write a Program to extract each digit from an integer in the reverse order.

In [7]:
number = 7536
print("Given number", number)
while number > 0:
  digit = number % 10
  number = number // 10
  print(digit, end=" ")

Given number 7536
6 3 5 7

7. Print multiplication table form 1 to 10

In [8]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

8. Write a program to print downward Half-Pyramid Pattern with Star (asterisk)

In [9]:
for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*