<a href="https://colab.research.google.com/github/Niyati223/Niyati223/blob/main/US_BabyNames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

Step 2. Import the dataset from this address.

Step 3. Assign it to a variable called baby_names.

In [ ]:
url='https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
baby_names=pd.read_csv(url)
baby_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1016395 non-null  int64
 1   Id          1016395 non-null  int64
 2   Name        1016395 non-null  object
 3   Year        1016395 non-null  int64
 4   Gender      1016395 non-null  object
 5   State       1016395 non-null  object
 6   Count       1016395 non-null  int64
dtypes: int64(4), object(3)
memory usage: 54.3+ MB

Step 4. See the first 10 entries

In [ ]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [ ]:
del baby_names['Unnamed: 0']

In [ ]:
baby_names.head()

      Id     Name  Year Gender State  Count
0  11350     Emma  2004      F    AK     62
1  11351  Madison  2004      F    AK     48
2  11352   Hannah  2004      F    AK     46
3  11353    Grace  2004      F    AK     44
4  11354    Emily  2004      F    AK     41

In [ ]:
del baby_names['Id']
baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

Step 6. Is there more male or female names in the dataset?

In [8]:
baby_names['Gender'].value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

Step 7. Group the dataset by name and assign to names

In [9]:
names=baby_names.groupby('Name').sum()

In [11]:
#names.head()
names.sort_values('Count',ascending=0).head()

             Year   Count
Name
Jacob     1141099  242874
Emma      1137085  214852
Michael   1161152  214405
Ethan     1139091  209277
Isabella  1137090  204798

Step 8. How many different names exist in the dataset?

In [13]:
names.sort_values('Count',ascending=0).head()
len(names)

17632

Step 9. What is the name with most occurrences?

In [19]:
names.Count.idxmax()

len(names[names.Count == names.Count.max()])

1

Step 10. How many different names have the least occurrences?

In [20]:
len(names[names.Count == names.Count.min()])

2578

Step 11. What is the median name occurrence?

In [22]:
#np.median(names.Count)
names.Count.median()

49.0

Step 12. What is the standard deviation of names?

In [23]:
names.Count.std()

11006.06946789057

Step 13. Get a summary with the mean, min, max, std and quartiles.

In [25]:
names.describe()

               Year          Count
count  1.763200e+04   17632.000000
mean   1.158117e+05    2008.932169
std    2.451618e+05   11006.069468
min    2.004000e+03       5.000000
25%    4.017000e+03      11.000000
50%    1.606100e+04      49.000000
75%    7.846425e+04     337.000000
max    2.233993e+06  242874.000000